<!-- Projector name -->
<div class="title">{{ name | capitalize }}</div>
<button md-icon-button (click)="shutdown()"><md-icon>power_settings_new</md-icon></button>
<button md-icon-button (click)="reboot()"><md-icon>autorenew</md-icon></button>

<!-- Status contents. -->
<div>
  <div class="status">
    Connected:
    <app-led [on]="status.connected"></app-led>
  </div>
  <div class="status">
    Now Playing:
    <app-led [on]="status.playing"></app-led>
  </div>
</div>

<!-- Player contents. Select video and control it. -->
<div class="player">
  <app-selector [list]="videos" [placeholder]="'Video'" (selected)="video"></app-selector>
  <app-player (onCommand)="playerCommand($event)"></app-player>
</div>
