<!-- Top navigation bar. -->
<md-toolbar>
  <img src="assets/logo.png" alt="The Room Logo" class="logo">
  <span class="fill-space"></span>
  <span>
    <app-selector [placeholder]="'Playlist'"
                  [list]="names"
                  (selected)="select($event)">
    </app-selector>
    <button md-icon-button (click)="add()"><md-icon>add</md-icon></button>
    <button md-icon-button (click)="remove()"><md-icon>remove</md-icon></button>
    <app-player (onCommand)="player($event)"></app-player>
    <button md-icon-button (click)="reboot()"><md-icon>autorenew</md-icon></button>
    <button md-icon-button (click)="shutdown()"><md-icon>power_settings_new</md-icon></button>
  </span>
</md-toolbar>

<!-- Projectors grid -->
<md-grid-list cols="3" rowHeight="2:1">
   <md-grid-tile><app-projector name="yharnam"></app-projector></md-grid-tile>
   <md-grid-tile><app-projector name="lothric"></app-projector></md-grid-tile>
   <md-grid-tile><app-projector name="boletaria"></app-projector></md-grid-tile>
</md-grid-list>

<!-- Add playlist button -->
