<!--The content below is only a placeholder and can be replaced.-->
<md-toolbar color="primary">
  <span>{{ title }}</span>
  <span class="fill-space"></span>
  <span>
    <md-select placeholder="Playlist"></md-select>
    <app-player></app-player>
  </span>
</md-toolbar>

<md-grid-list cols="3" rowHeight="2:1">
  <md-grid-tile><app-projector name="Yharnam"></app-projector></md-grid-tile>
  <md-grid-tile><app-projector name="Lothric"></app-projector></md-grid-tile>
  <md-grid-tile><app-projector name="Boletaria"></app-projector></md-grid-tile>
</md-grid-list>

<button md-fab color="primary"><md-icon>add</md-icon></button>
